header
{
    background-color: var(--secondary-color);
}

.logo 
{
    display: flex;
    padding: 10px;
    height: 10vh;
    cursor: pointer;
}

.active_jmc
{
    transition: all 0.15s ease-in-out;
    color: var(--primary-color);
    scale: 1.1;
}

.nav-link
{
    transition: all 0.15s ease-in-out;
}
.nav-link:hover
{
    transition: all 0.15s ease-in-out;
    color: var(--primary-color);
    scale: 1.1; 
}


@media  (max-width: 768px) 
{
    .logo 
    {
        height: 8vh;
        padding: 5px;
    }

    .nav-link:hover
    {
        scale: 1;
    }
    
    .active_jmc 
    {
        scale: 1;
    }
    
}