.container
{
    align-content: center;
    justify-content: center;
    justify-items: center;
}

p
{
    text-align: center;
    margin-left: 5vw;
    margin-right: 5vw;
}
h2
{
    text-align: center;
    margin-top: 2rem;
    font-size: 1.5rem;
    text-decoration: underline;
    color: var(--primary-color);
}

h3
{
    text-align: center;
    margin-top: 2rem;
    font-size: 1.1rem;
    color: var(--primary-color);
}

tr
{
    justify-content: space-between;
}