
<div class="container-fluid vh-100 d-flex align-items-center justify-content-center bg-light">
  <div class="row w-100 shadow" style="max-width: 90vw; min-height: 80vh;">
    
    <!-- Partie gauche avec fond bleu et forme arrondie -->
    <div class="col-md-6 text-white d-flex align-items-center justify-content-center position-relative cadre overflow-hidden">
      <div class="position-absolute top-0 start-0 w-100 h-100 bg-color-primary" style="border-bottom-right-radius: 50% 100%; border-top-right-radius: 50% 100%;"></div>
      <h5 class="position-relative z-1">ADMIN PANEL</h5>
    </div>


    <!-- Partie droite avec formulaire -->
    <div class="col-md-6 bg-white d-flex flex-column justify-content-center p-5">
      <h5 class="mb-4 text-color-primary">Connectez vous</h5>
      <form>
        <div class="mb-3">
          <input type="email" class="form-control bg-light border-0" placeholder="Email">
        </div>
        <div class="mb-3">
          <input type="password" class="form-control bg-light border-0" placeholder="Mot de passe">
        </div>
        <button type="submit" class="btn btn-JMC btn-sm px-4">connexion</button>
      </form>
    </div>
  </div>
</div>
