<footer class="text-white py-5">
  <div class="container">
    <div class="row">
      <!-- Colonne 1 : Logo + Newsletter -->
      <div class="col-md-3 text-center text-md-start mb-4 mb-md-0 d-flex flex-column">
        <img src="/assets/image/logo-jmc-nice-mini-white-bigger.webp" alt="Logo JMC blanc" class="img-fluid align-self-center logo">
        <p class="fw-semibold">Notre Newsletter</p>
        <form class="d-flex flex-column">
          <input type="email" class="form-control mb-2" placeholder="Votre email">
          <button class="btn btn-outline-light btn-sm">INSCRIVEZ VOUS</button>
        </form>
      </div>

      <!-- Colonne 2 : Navigation -->
      <div class="col-md-3 mb-4 mb-md-0">
        <div class="fw-bold mb-2">Navigation</div>
        <ul class="list-unstyled border-top pt-2 border-light">
          <li><a routerLink="" class="text-white contact-nav">Accueil</a></li>
          <li><a routerLink="/presentation" class="text-white contact-nav">Structure</a></li>
          <li><a routerLink="/projets" class="text-white contact-nav">Projets</a></li>
          <li><a routerLink="/devis" class="text-white contact-nav">Devis</a></li>
          <li><a routerLink="/contact" class="text-white contact-nav">Contact</a></li>
        </ul>
      </div>

      <!-- Colonne 3 : Réseaux -->
      <div class="col-md-3 mb-4 mb-md-0">
        <div class="fw-bold mb-2">Réseaux</div>
        <ul class="list-unstyled border-top pt-2 border-light">
          <li><i class="bi bi-linkedin me-2"></i><a rel="noopener noreferrer" target="_blank" class="text-white contact-nav" href="https://www.linkedin.com/company/junior-miage-concept/?originalSubdomain=fr">Linkedin</a></li>
          <li><i class="bi bi-instagram me-2"></i><a rel="noopener noreferrer" target="_blank" class="text-white contact-nav" href="https://www.instagram.com/juniormiageconcept/?hl=fr">Instagram</a></li>
          <li><i class="bi bi-facebook me-2"></i><a rel="noopener noreferrer" target="_blank" class="text-white contact-nav" href="https://www.facebook.com/JuniorMIAGEConcept/?locale=fr_FR">Facebook</a></li>
          <li><i class="bi bi-twitter me-2"></i><a rel="noopener noreferrer"  target="_blank" class="text-white contact-nav" href="https://x.com/jmcnice">X/Twitter</a></li>
        </ul>
      </div>

      <!-- Colonne 4 : Contact -->
      <div class="col-md-3">
        <div class="fw-bold mb-2">Nous contacter</div>
        <ul class="list-unstyled border-top pt-2 border-light">
            <li><i class="bi bi-geo-alt me-2"></i>1645 Routes des Lucioles</li>
            <li><i class="bi bi-phone me-2"></i>04 89 15 42 31</li>
            <li class="text-nowrap"><i class="bi bi-envelope me-2"></i>contact&#64;juniormiageconcept.com</li>
        </ul>
      </div>
    </div>

    <!-- Footer bottom -->
    <div class="text-center pt-4 mt-4 border-top border-light">
      <small>©2025 Junior MIAGE Concept Nice - <a class="text-white text-decoration-underline" routerLink="/mentions-legales">mentions légales</a></small>
    </div>
  </div>
</footer>
