<app-header></app-header>
<main>
    <section id="structure" class="my-5"fadeInOnLoad>
        <div class="container-fluid py-5 mt-5 mb-5 align-items-center justify-content-center flex-column d-flex">
            <h1 class="text-color-primary">NOTRE STRUCTURE</h1>
        </div>
        <div class="container my-5">
            <h2 class="text-color-primary">JUNIOR MIAGE CONCEPT</h2>
            <p>Crée le 14 Septembre 2007, en tant qu’association loi 1901, Junior MIAGE Concept représente la formation Méthodes Informatiques Appliquées à la Gestion des Entreprises (MIAGE) de l’Université côte d’Azur. Nous vous proposons des services en Ingénierie Informatique et de Technologies de l’Information et de la Communication. Notre pluridisciplinarité nous permet d’avoir une vision large et de vous accompagner à tout les niveaux dans la réalisation de vos projets.</p>
        </div>

        <div class="container my-5" fadeInOnLoad>
            <h2 class="text-color-primary">Junior Entreprise, qu'est-ce donc ?</h2>
            <p>Les Junior-Entreprises sont des associations pédagogiques de conseil de loi 1901 ayant pour objet social la montée en compétences des étudiants à travers la réalisation de prestations de service pour des professionnels. Ces structures sont implantées au sein d’établissements de l’enseignement supérieur. Elles proposent des services de qualité aux entreprises et permettent aux étudiants de développer leurs savoirs en mettant en pratique leur formation afin de répondre aux besoins des clients.</p>
        </div>
    </section>
    <section class="bg-color-secondary my-5">
        <div class="container flex-wrap py-5 d-flex justify-content-between">
            <div appLeftFadeInOnScroll class="container d-flex flex-column align-items-center justify-content-center">
                <img src="./assets/image/elite-students.svg" alt="icone d'étudiants élites" width="100" height="100">
                <h2>Des intervenants d’élites</h2>
                <div class="container text-center">
                    <p>Les meilleurs étudiants de la MIAGE sont recrutés, en fonction de leurs compétences, pour travailler sur la réalisation du projet. Pour la plupart, ils sont en contrat d’alternance dans les plus grandes boîtes de Sophia Antipolis.</p>
                </div>
            </div>
            <div appRightFadeInOnScroll class="container d-flex flex-column align-items-center justify-content-center">
                <img src="./assets/image/light-bulb-idea.svg" alt="icone d'une ampoule" width="100" height="100" >
                <h2>Une équipe compétente</h2>
                <div class="container text-center">
                    <p>L’association est composée d’une équipe d’élèves issus des différentes formations de la MIAGE de Nice. Nous avons pour missions les relations clients, l’implication auprès des étudiants, ainsi que le développement et la pérennisation de la structure.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="container my-5">
        <h2 class="text-center text-color-primary">Notre équipe</h2>
        <div class="container my-5 d-flex flex-wrap justify-content-center"appLeftFadeInOnScroll>
            <team-card></team-card>
            <team-card></team-card>
            <team-card></team-card>
            <team-card></team-card>
            <team-card></team-card>
            <team-card></team-card>
            <team-card></team-card>
            <team-card></team-card>
        </div>
    </section>

    <section class="bg-color-secondary py-5">
        <h2 class="text-center text-color-primary">Nos Valeurs</h2>
        <div class="container my-5 d-flex flex-wrap justify-content-around">

            <div class="value-card border-0 shadow-sm rounded"appBottomFadeInOnScroll>
                <span>Dépassement de soi</span>
                <img src="./assets/image/value/overcome.png" alt="icone dépassement de soi">
            </div>

            <div class="value-card shadow-sm rounded"appBottomFadeInOnScroll>
                <span>Entrepreunariat</span>
                <img src="./assets/image/value/entrepreunariat.png" alt="icone entreprenariat">
            </div>

            <div class="value-card shadow-sm rounded"appBottomFadeInOnScroll>
                <span>Pluridisicplinarité</span>
                <img src="./assets/image/value/pluridisciplinarite.webp" alt="icone pluridisciplinarité">
            </div>

            <div class="value-card shadow-sm rounded"appBottomFadeInOnScroll>
                <span>Engagement</span>
                <img src="./assets/image/value/engagement.png" alt="icone engagement">
            </div>

            <div class="value-card shadow-sm rounded"appBottomFadeInOnScroll>
                <span>Partage</span>
                <img src="./assets/image/value/partage.webp" alt="icone partage">
            </div>
        </div>
    </section>
</main>
<app-footer></app-footer>
